          /* Nevigation Section */
          * {
              margin: 0;
              padding: 0;
              
              box-sizing: border-box;
          }

          body,html,footer {
              height: 100%;
              width: 100%;
              margin: 0;
              padding: 0;
          }



          @media only screen and (max-width:768px)
          {
            html,body{
                width: 100%;
                overflow-x: hidden;
            }
          }
          
       


          .section_1 {
              position: fixed;
              display: flex;
              justify-content: space-between;
              width: 100%;
              flex-wrap: wrap;
              background-color: rgba(6, 122, 254, 0.881);

          }




          .section_1,
          .section_1_b,
          .section_1_c {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              color: white;


          }

          .blog>a,
          .resume>a {
              text-decoration: none;
          }

          .hamburg{
            display: none;
          }
          
          


          @media (max-width:1200px) {
              .section_1_a{
                width: 35%;
              }

              .section_1_b {
                  display: none;
              }

              .section_1 {
                  display: flex;
                  justify-content: space-evenly;
                  position: relative;
                  gap: 2rem;
              }

              .section_1_c {
                  /* margin-left: -5rem; */
                  width: 35%;
                  gap: 3rem;
              }

              .hamburg {
                  display: block;
                  width: 30%;
                  display: flex;
                justify-content: center;


              }
              .hamburg_img{
                height: 4rem;
              }

              .page_1{
                display: flex;
                flex-direction: column;
              }
              .section_3{
                align-self: center;
              }

          }

          



          .home>a,
          .about_me>a,
          .portfolio>a,
          .skills>a,
          .contact>a {
              color: white;
              text-decoration: none;
          }

          .box_profile,
          .view_result_button>a {
              text-decoration: none;
          }


          .home>a:hover,
          .about_me>a:hover,
          .skills>a:hover,
          .portfolio>a:hover,
          .contact>a:hover {
              text-decoration: underline yellow 0.2rem;

          }


          .blog:hover,
          .resume:hover,
          .section_1_a:hover {
              background-color: green;

          }

          .blog>a:hover,
          .resume :hover,
          .box_profile:hover {
              color: white;
          }




          .home,
          .about_me,
          .portfolio,
          .skills,
          .contact,
          .blog,
          .resume,
          .section_1_a {
              margin-left: 2rem;
              margin-top: 0.9rem;
              margin-bottom: 0.9rem;
              font-size: 1.5rem;
              display: flex;
              flex-wrap: wrap;
              cursor: pointer;



          }




          .blog,
          .resume,
          .section_1_a {
              box-sizing: border-box;

              height: 2.5rem;
              width: 10rem;
              margin-right: 0.5rem;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 0.5rem;
              color: black;
              background-color: white;
              font-size: 1.5rem;
              border: 2px solid #F7F8FC;


          }

          .section_1_b {
              padding-top: 0.5rem;
          }






          /* page-1 */

          hr{
            height: 0.2rem;
            color:  lightblue;
            background-color: lightblue;
            box-shadow: 10px 10px 5px lightblue;
        }
          .page_1 {
              background-color: rgba(16, 107, 211, 0.718);
              display: flex;
              justify-content: space-between;
              /* width: 100%; */
              /* flex-wrap: wrap; */
              padding-bottom: 10.2%;
              padding-top: 10%;

          }

          @media (max-width: 740px) {
          .section_1{
            flex-direction: column;
          }  
          .section_1_a{
            align-self:center;
          }
          .section_2{
            display: flex;
            flex-direction: column;
          }

          .section_2_a{
            margin-top: -10rem;

          }

          .hamburg{
            align-self: center;
          }
          .profile_img{
            margin-left: 16rem;
          }

          .section_1_c{
            display: flex;
            flex-direction: column;
            margin-left: 0.9rem;
            align-self: center;
          }
          .page_5{
           overflow-y: hidden;
           padding-right: 5rem;
           
          }
          .blogs{
           overflow-y:scroll;

          }
          .page_1{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -10rem;
          }
          .parsal{
            display: flex;
            flex-direction: column;
          }
          .pack{
            padding:10rem;
            margin-top: -7.5rem;
           
          }



          .message{
            height: 10px;
            width: 25px
          }
         


         
          }

          .profile_img {
              box-sizing: border-box;
              border-radius: 50%;
              box-shadow: 2px 2px 5px 10px lightblue;

          }


          .section_2 {

              display: flex;
              flex-direction: column;
              /* justify-content: center;
              align-items: center; */
              /* flex-wrap: wrap; */
              margin-left: 15rem;
              padding-top: 9rem; 
              word-spacing: .2rem;
              width: 40%;
              color: black;
              padding-bottom: 0.5rem;

          }


          .section_2_a,
          .section_2_c,
          .section_2_b {
              font-size: 3rem;
              font-weight: bold;
          }

          .section_2_b {
              color: #FDFD00;

          }

          .section_2_c>strong {
              color: rgba(83, 255, 112, 0.84);

          }

          .section_2_d>.sort_discription {
              line-height: 1.8rem;
              font-weight: bold;
              font-size: 1.2rem;
          }



          .profile_img {
              height: 20rem;
              width: 20rem;
              margin-top: 5rem;
              margin-right: 5rem;
              display: flex;
              /* padding-right: 5rem; */
              flex-shrink: 5;






          }





          .icons {
              display: flex;
              justify-content: space-evenly;
              margin-top: 1rem;
          }

          .glow :hover {
              box-shadow: 2px 2px 20px 5px lightblue;

          }

          .linkdin,
          .facebook,
          .github {
              height: 1.5rem;
              width: 1.5rem;

          }



          /* Page-2 */


          #about {
              background-color: rgba(16, 107, 211, 0.718);
          }

          .heading {

              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 5rem;
              text-decoration-line: underline;
              padding-top: 4.5rem;
              padding-bottom: 2rem;
              color: black;
              text-shadow: 0px 50px 80px rgb(255, 253, 253);
          }




          .cards {
              border: 0.1rem solid white;

              height: 35rem;
              font-weight: 150px;
              width: 22rem;
              padding: 0.5rem;
              border-radius: 1rem;
              background-color: rgba(54, 138, 234, 0.718);
              margin-top: 1rem;
              display: inline-block;
              margin-top: 3rem;
              margin-left: 8rem;

              box-shadow: 10px 10px 20px 15px lightblue;
              cursor: pointer;


          }

          .cards:hover {

              box-shadow: 5px 5px 5px 2px lightblue inset;
          }



          .card_2>img {
              border-radius: 1rem;
              padding-top: 0.8rem;
              padding-left: 0.5rem;

          }

          .card_1 {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 2rem;
              text-decoration-line: underline;
              padding-bottom: 0.5rem;
              font-weight: bold;

          }

          .card_3,
          .card_4,
          .card_5,
          .card_6 {
              display: flex;
              font-size: 1.5rem;
              padding-bottom: 0.5rem;
              padding-left: 0.8rem;

          }

          .card_3 {
              padding-top: 0.7rem;
          }

          .card_6>button {
              margin-left: 1.5rem;
              height: 2rem;
              width: 8rem;
              font-size: 1.2rem;
              font-weight: 100px;
              color: black;

              border-radius: 0.8rem;

          }

          .view_result_button>a {
              color: black;
          }


          /* page - 3 */


          .page_3,
          footer {

              background-color: rgb(83, 149, 223);
              padding-top: 2rem;
          }

          .diba {
              border: 0.1rem solid white;
              height: 28rem;
              width: 25rem;
              border-radius: 1rem;
              margin-left: 5rem;
              margin-top: 3rem;
              padding-left: 2.5rem;
              background-color: rgba(54, 138, 234, 0.718);
              font-size: 1.3rem;
              border-radius: 5rem;
              display: inline-block;
              box-sizing: border-box;
              cursor: pointer;


          }

          .boxs {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              flex-shrink: 5;

          }


          .diba:hover {
              background-color: rgba(35, 117, 211, 0.964);
              color: white;
              box-shadow: 5px 5px 5px 2px lightblue inset;
          }


          .skill_gurney,
          .knowladge,
          .projects {
              line-height: 1.8rem;
          }

          .skill {
              margin-top: 1rem;
              margin-bottom: 1rem;
              color: black;


          }

          .projects {
              margin-left: 4rem;
              color: yellow;
          }

          .See_projects {
              margin-top: 2rem;
              margin-left: 4rem;
              margin-bottom: 2rem;
          }

          .See_projects>button {
              cursor: pointer;
          }

          .See_projects>button:hover,
          .view_result_button:hover,
          .certificate_button:hover {
              background-color: green;
          }

          .See_projects :hover,
          .view_result_button>a:hover,
          .certificate_button>a:hover {
              color: white;
          }


          /* Page - 4 */

          .page_4,
          .page_5,
          .copy_right,
          .page_5 {
              background-color: rgb(83, 149, 223);
          }

          .case {
              border: 0.1rem solid white;
              height: 43rem;
              width: 25rem;
              border-radius: 1rem;
              margin-left: 5rem;
              margin-top: 1rem;
              margin-bottom: 2rem;
              padding-left: 2.5rem;
              background-color: rgba(54, 138, 234, 0.718);
              font-size: 1.3rem;
              border-radius: 4rem;
              display: inline-block;
              box-sizing: border-box;
              cursor: pointer;
              color: yellow;
              font-size: 1.4rem;



          }

          .case:hover,
          .blogs:hover {
              background-color: rgba(35, 117, 211, 0.964);
              color: white;
              box-shadow: -2px -2px 5px 5px lightblue;

          }

          .certificate_img {
              padding-top: 1.5rem;
              display: flex;
              justify-content: center;
              align-items: center;
          }

          .certificate_img:hover,
          .card_2:hover {

              width: 100%;
              border-radius: 3rem;
              transition: width 2s, height 2s, transform 0.1s;



          }

          .certificate_button {
              height: 2rem;
              width: 5rem;
              border-radius: 5rem;
              margin-left: 11rem;
              margin-top: 1rem;
              font-size: 1rem;
          }

          .certificate_button>a,
          .See_projects>button>a {
              cursor: pointer;
              text-decoration: none;
              color: black;
              font-size: 1.1rem;
          }

          .tech>p {
              padding-top: 1rem;
          }


          /* page - 5 */


          .blogs {
              border: 0.1rem solid white;
              height: 34rem;
              width: 90%;
              border-radius: 1rem;
              margin-left: 5rem;
              margin-top: 3rem;
              padding: 2.5rem;
              background-color: yellow;
              font-size: 1.3rem;
              border-radius: 1rem;
              display: inline-block;
              box-sizing: border-box;
              cursor: pointer;
              text-align: center;
              line-height: 2.5rem;
              font-size: 1.5rem;
              color: black
          }

          .blogs:hover {
              transform: scalex(1.01);

              transition: width 2s, height 2s, transform 0.5s;

          }

          .blogs_heading {
              font-size: 1.8rem;
              font-weight: bold;
              margin-bottom: 3rem;
              color: black;

          }




          .blogs_more>a>button {
              height: 2.5rem;
              width: 10rem;
              font-size: 1.4rem;
              border-radius: 2rem;
              margin-top: 1.5rem;
              cursor: pointer;
          }

          .blogs_more>a>button:hover {
              background-color: green;
              color: white;
          }




          /* footer  */

          form {
              display: flex;
              flex-direction: column;


          }

          .pack {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
           

          }

          .sub {
              display: flex;
              justify-content: space-evenly;
              margin-top: 2rem;


          }
         
          .sub>button {

              height: 3rem;
              width: 10rem;
              border-radius: 5rem;
              font-size: 2rem;
              background-color: rgb(75, 190, 75);
              cursor: pointer;
          }

          .sub>button:hover {
              background-color: blue;
              color: white;
          }

          .contact_section
          {
            background-color: rgb(83,149,223);
          }
          .parsal {
              width: 45rem;
              height: 59rem;
              box-sizing: border-box;


              background-color: rgba(228, 228, 40, 0.929);

              border: 0.1rem solid white;
              display: flex;
              justify-content: space-evenly;
              flex-shrink: 5;
              border-radius: 5rem;
              margin-bottom: 2rem
          }

          label,
          input {
              line-height: 6rem;
              font-size: 3rem;

          }

          label>input {
              height: 3rem;
              width: 20rem;

          }

          .hed {
              font-size: 3rem;
              font-weight: bold;
              text-align: center;
              text-decoration: underline;
              color: black;
              margin-bottom: 1rem;
              margin-top: 1rem;
          }



          .message {
              height: 20rem;
              width: 30rem;

          }

          .Your_message {
              margin-top: 1rem;
              display: flex;
              justify-content: center;

          }



          input {
              height: 1.8rem;
              width: 19rem;
              color: rgb(50, 48, 48);
              font-size: 1.5rem;
              border-radius: 0.5rem;

              flex-shrink: 3;
              text-align: center;
          }

      


          .copy_right{
            display: flex;
          }

          
          .copy_right_img{
            margin-left: 5rem;
          }

          .ico >a>img{
            height: 20px;
            width: 20px;
            margin-left: 1rem;
          }
        
          .copy_right_box{
            display: flex;
            margin-left: 2rem;
          }
          .copy_right_para{
            margin-left: 5rem;
          }